@use '../../../../scss' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: $bg-element;
  @include desktop-small {
    width: 800px;
  }
  @include tablet {
    width: 580px;
  }
  @include mobile {
    width: calc(100% - 10px);
  }
}

h2 {
  display: flex;
  width: 100%;
  padding: 0 0 2px 5px;
  border-bottom: 1px solid $border-normal;
  font-size: 20px;
  font-weight: 500;
  @include desktop-small {
    font-size: 19px;
  }
  @include tablet {
    font-size: 18px;
  }
  @include mobile {
    font-size: 16px;
    cursor: pointer;
  }
}

.triangle {
  display: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0 10px;
  color: $text-dim;
  font-size: smaller;
  transform: scaleY(-1);
  transition: .2s;
  @include mobile {
    display: flex;
    :host.collapsed & {
      transform: scaleY(1);
    }
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  @include mobile {
    flex-direction: column;
    animation: fade-in .3s;
    :host.collapsed & {
      display: none;
    }
  }
}