@use 'sass:color';
@use '../scss' as *;

$footer-height: 100px;

@mixin layout-area {
  position: relative;
  z-index: 2;
  background-color: $bg-area;
  box-shadow: 0 0 2px 2px $layout-shadow;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + $footer-height);
}

header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 26px;
  letter-spacing: 0.01em;
  @include layout-area;
  @include mobile {
    font-size: 20px;
  }
}

main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background:
    linear-gradient(45deg, color.adjust(blue, $alpha: -0.8), color.adjust(purple, $alpha: -0.9)),
    linear-gradient(-45deg, color.adjust(red, $alpha: -0.9), color.adjust(green, $alpha: -0.5));
}

footer {
  display: flex;
  min-height: $footer-height;
  margin-top: auto;
  @include layout-area;
}

.wrapper {
  display: flex;
  margin: auto;
  gap: 15px;
  a {
    color: royalblue;
    text-decoration: none;
    transition: .2s;
    @include hover {
      color: deepskyblue;
    }
  }
}