@use '../../../scss' as *;

$area-padding: 10px;

:host {
  position: relative;
  display: flex;
  justify-content: space-around;
  max-width: calc(100% - 20px);
  margin: 10px auto;
  padding: $area-padding;
  border-radius: 8px;
  background-color: $bg-element;
  overflow-x: auto;
}

canvas {
  transition: .3s;
  transition-timing-function: linear;
  opacity: 1;
  &.overlay {
    position: absolute;
    inset: $area-padding;
  }
  &.hidden {
    opacity: 0;
  }
}
