@use '../../../scss' as *;

:host {
  display: flex;
  justify-content: space-around;
  max-width: calc(100% - 20px);
  margin: 10px auto;
  padding: 10px;
  border-radius: 8px;
  background-color: $bg-element;
  overflow-x: auto;
}

canvas {
  transition: .3s;
  &.hidden {
    transition: 0;
    opacity: 0;
  }
}
